.img-circle {
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    margin-left: 20%;
    height: 450px;
    width: 450px;
}

.title-row {
    padding-top: 3%;
    margin-right: 15%;
}
hr {
    background-color: black;
    border-style: none;
    height: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

p,
span,
li,
td,
tr {
    font-family: 'Raleway', sans-serif;
}

section {
    margin-left: 1%;
}

.nav-item {
    padding: 0 18px;
}

.navbar {
    padding: 5px 0 10px 0;
}

.biography {
    margin-top: 5px;
}

.list-group-item {
    border: none;
}

.list-group {
    margin-right: 40%;
}

.module-list {
    margin-top: 8px;
}


/* Contact section */

.social-icons {
    font-size: 2.75rem;
    color: rgba(0, 0, 0, 0.83);
    margin: 4pt;
    align-items: center;
}

.contacts {
    text-align: center;
}


/* Footer */

#footer {
    text-align: center;
    padding-bottom: 1rem;
}
